body {
    padding: 10px;
}

.container {}


.page__2 {
    background-color: #F6F6F6;
    flex-shrink: 0;
}

.header {
    color: #000;
    font-family: Zen Maru Gothic;
    font-size: 18px;
    font-style: normal;
    line-height: 150%;
    letter-spacing: 0.36px;
}

.header__1 {
    width: 184px;
    height: 54px;
    /* padding-left: 18px; */
    margin-left: 17px;
    color: #000;
    font-family: Zen Maru Gothic;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 0.36px;
}

.title {
    color: #000;
    font-feature-settings: 'palt' on;
    font-family: Hiragino Kaku Gothic Pro;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 160%;
    letter-spacing: 3px;
}

.title__1 {
    width: 266px;
    height: 22px;
    color: #616161;
    font-family: Hiragino Kaku Gothic Pro;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    margin-left: 35px;
    text-align: center;
}

.title__2 {
    color: #000;
    padding: 10px;
    font-feature-settings: 'palt' on;
    font-family: Hiragino Kaku Gothic Pro;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: 140%;

}

.card__sidebar {
    display: flex;
}

.container__btn {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}

.btn {
    display: flex;
    width: 336px;
    padding: 10px 20px;
    align-items: center;
    gap: 5px;
    justify-content: space-between;
    border-radius: 5px;
    border: none;
    flex-shrink: 0;
}

.information {
    display: flex;
    width: 375px;
    height: 90px;
    align-items: center;
    justify-content: space-between;

}

.information__child {
    display: flex;
    /* width: 375px;
    height: 90px; */
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    background: #E7E7E7;
}

.information__child>img {
    background-color: white;
    width: 24px;
    height: 24px;
}

.sub__description {
    color: #000;
    text-align: right;
    font-family: Hiragino Kaku Gothic Pro;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;

}

.sub__description__1 {
    color: #000;

    /* h2 */
    font-family: Zen Maru Gothic;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    /* 30px */
    letter-spacing: 1px;
}

.main {
    background-color: #FFF;
}

.description__2 {
    color: #000;
    font-family: Futura;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%;
}

.box__4 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 25px;
}

.card__box-4 {
    gap: 5px;
}

.card__box-4>p {
    color: #000;
    font-family: Hiragino Kaku Gothic Pro;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
}


.content {
    color: #000;
    font-family: Zen Maru Gothic;
    font-size: 20px;
    font-style: normal;
    /* font-weight: 500; */
    line-height: 150%;
    /* 30px */
    letter-spacing: 1px;
}

.h2__main {

    /* h3 */
    font-family: Zen Maru Gothic;
    font-size: 18px;
    font-style: normal;
    /* font-weight: 500; */
    line-height: 150%;
    /* 27px */
    letter-spacing: 0.36px;
}



.header__2 {
    display: flex;
}

.header__2>p {
    color: #616161;
    text-align: center;

    /* body - bold */
    font-family: Hiragino Kaku Gothic Pro;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    /* 22.4px */
}

.content__1 {
    display: flex;
}

.content__1>p {
    color: #000;
    padding: 15px;
    font-family: Hiragino Kaku Gothic Pro;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
}


.sub__description-2 {
    display: flex;
}

.sub__description-2>p {}

.content__2 {
    display: flex;
    align-items: flex-start;
}

.sub__content-2 {
    margin-left: 16px;
}

.description__list {
    display: flex;
}

.arrow__down {
    padding: 10px 160px;
    margin-left: 20px;
}

.box__page-04 {
    display: flex;
    width: 100%;
    height: 188.438px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background: #E7E7E7;
}

.caculator {
    display: flex;
    object-fit: cover;
    justify-content: center;
}

.header__child {
    margin-top: 70px;
}

.sub__header {
    text-align: center;
}

.weather {
    margin-top: 100px;
}

.content__under__04 {
    display: flex;

}

.weather__img {
    display: flex;
    width: 100%;
}

.people__comment {
    display: flex;
    padding: 12px;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    flex: 1 0 0;
    border-style: solid;
    border-radius: 30px;
}

.people__comment>img {
    border-style: solid;
}

.box__comment {
    width: 200px;
    box-shadow: 5px 5px 5px 1px gray;
    border-style: solid;
}

.Rectangle_5 {
    margin-top: 70px;
    text-align: center;
    font-size: 17px;
}

.container__btn__end {
    display: flex;
    flex-direction: column;
}

.btn__end {
    display: flex;
    width: 100%;
    padding: 10px 20px;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    border: none;
    flex-shrink: 0;
    color: black;

    font-family: "Hiragino Kaku Gothic Pro";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
}

.btn__contact {
    background-color: black;
    display: flex;
    width: 335px;
    height: 48px;
    padding: 10px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 8px;
    color: white;
}
.box__3 {
    display: flex;
    flex-direction: column;
}
.box__3_end {
    display: flex;
    width: 335px;
    height: 50px;
    padding: 40px 16px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background-color: black;
    border-radius: 8px;
    color: #FFF;
    margin-bottom: 30px;
}

.end {
    margin-top: 50px;
    align-items: center;
    text-align: center;
}